*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body
{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}
.navbar 
{
    width: 100%;
    height: 50px;
    background-color: #222f3e;
}
.navbar div 
{
    display: inline-block;
    height: 100%;
}
#message 
{
    width: 75%;
    text-align: center;
}
#message p 
{
    color: white;
    font-weight: 500;
    padding: 15px;
    text-align: left;
    margin-right: 20px;
}
#message i 
{
    font-size: 1.1rem;
    margin-right: 10px;
}
#icons 
{
    width: 20%;
    text-align: center;
    height: 100%;
}
#icons a 
{
    text-decoration: none;
    color:white ;
    background-color: #ff0066;
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
    margin-left: 10px;
    font-weight: 600;
    transition:1s all;
}
#icons a:hover 
{
    background-color:white ;
    color: #ff0066;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.4);
}
#icons i 
{
    padding: 5px;
}
.navbar2
{
    width: 100%;
    height: 90px;
    background-color: #7de2d1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar2 .image 
{
    width: 30%;
    height: 100%;
    background-image: url('svcelogo.jpg');
    background-position: center;
    background-size: cover;
    transition: 1s all;
    margin-left: 50px;
    border-radius: 20px;
}
.navbar2 .image:hover
{
    transform: scale(1.2);
    box-shadow:0px 0px 60px 20px rgba(0,0,0,0.4);
}
.navlist ul,li
{
    display: inline;
    margin: 15px;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    padding: 2px; 
}
.navlist li 
{
    font-weight: 600;
}
.navlist li:hover
{
    border-bottom: 3px solid black;
    cursor: pointer;
}
main 
{
    width: 100%;
    height: 80vh;
    background-image:url('svcecolleg.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .bg 
{
    width: 100%;
    height: 100%;
    background-color: transparent;
    backdrop-filter:saturate(4.5);
}
.bg
{
    position: relative;
}
.bg div 
{
    position: absolute;
    top: 77%;
    left: 50%;
    width: 90vw;
    height: 30vh;
    transform: translate(-50%,-50%);
    background-color: transparent;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    border-radius: 10px;
    z-index: 999;
    box-shadow: 0px 0px 40px 20px black ;
}
.bg div h1 
{
    font-size: 3rem;
    font-weight: 800;
    color: rgb(0, 255, 0);
    margin-bottom: 10px;
    transition: 1s all;
    cursor: pointer;
}
.bg div h1:hover 
{
    transform: scale(1.1);
}
.bg div p 
{
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    
}
.bg div a 
{
    text-decoration: none;
    padding: 10px;
    background-color:#ff0066 ;
    margin: 15px;
    color:white ;
    border-radius: 5px;
    font-weight: 600;
    transition:1s all;
}
i
{
    margin: 0xp 20px;
}
.bg div a:hover 
{
    background-color: white;
    color: #ff0066;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.4);
}
i:hover 
{
    cursor: pointer;
}